    <div class="container"style="background-color:antiquewhite">
        <div class="jumbotron" style="background-image:url(/Images/Lamborgini.png);opacity:0.8;">
            <h1 style="color:blue">Car Insurance</h1>
            <p class="lead" style="color:aqua">Welcome to Car Insurance Page.</p>

            <a href='@Url.Action("SignUp", "SignUp")' class="btn btn-primary">SignUp Here For Car Insurance</a>
            
        </div>
    </div>
<div class="row">
    
</div>