
@{
    ViewBag.Title = "Candidate";
}

<h2>Candidate</h2>
<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/knockout-1.2.1.js")" type="text/javascript"></script>
<form data-bind="submit: addCandidate">
    <fieldset>
        <legend>Candidate info</legend>
        <p>First Name: <input type="text" data-bind="value: FirstName" /> </p>
        <p>Last Name: <input type="text" data-bind="value: LastName" /> </p>
        <p>Email:<input type="text" data-bind="value: Email" /> </p>
        <p>Experience: <input type="text" data-bind="value: Experience" />&nbsp;months </p>
    </fieldset>
    <fieldset>
        <legend>Technologies</legend>
        New Technology:
        <input type="text" data-bind='value: TechnologyToAdd, valueUpdate: "afterkeydown"' />
        <button type="submit" data-bind="enable: TechnologyToAdd().length > 0, click: addTechnology">Add</button>
    </fieldset>
    <fieldset>
        <legend>Candidate Profile</legend>
        <b><span data-bind="text: Name"></span></b>
        has <b><span data-bind="text: Experience"></span></b> month experience <br />
        Email : <b><span data-bind="text: Email"></span></b>
        <p>Technology Expertises</p>
        <select multiple="multiple" width="50" data-bind="options: Technologies"></select>
    </fieldset>
    <input type="submit" value="Create" />
 
</form>


<script src="@Url.Content("~/Scripts/knockout-1.2.1.js")" type="text/javascript"></script>








